* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Roboto:ital@1&display=swap");

.red-border {
  border: 1px solid red;
}
.border-grey {
  border: 1px solid rgb(194, 191, 191);
}
.border-gray {
  border: 1px solid rgb(172, 169, 169);
}
tr,
td {
  padding: 8px;
  border: 1px solid gray;
}

.loader {
  animation: rotate 0.8s infinite;
}
@media screen and (min-width: 600px) {
  .product_grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@keyframes rotate {
  from {
    transform: scale(100%) rotate(0deg);
  }
  to {
    transform: scale(150%) rotate(360deg);
  }
}
